<div class="modal-wrapper" (click)="closeLogin($event)">
</div>

<div class="login-modal" [ngSwitch]="template">
	<div class="close-modal" (click)="closeLogin($event)">
		X
	</div>
	<div class="login" *ngSwitchCase="'login'">
		<div style="padding: 1em;">
	    <h1>Iniciar Sesión</h1>
	    <hr><br>
	    <form>
	     <div class="form-group">
	       <label for="email">Email</label>
	       <input (input)="onChange()" [(ngModel)]="mail" type="text" class="form-control" id="email" placeholder="email" name="email" required>
	     </div>
	     <div class="form-group">
	       <label for="password">Contraseña</label>
	       <input (input)="onChange()" [(ngModel)]="password" type="password" class="form-control" id="password" placeholder="password" name="password" required>
	     </div>
	     <button (click)="submitLogin()" [class.disabled]="!canLogin" type="button" class="btn btn-primary btn-login">Entrar!</button>
	    </form>
	    </div>
	    <div *ngIf="error !== '' " class="error-msg">
	    	{{error}}
	    </div>
		<div (click)="switchTemplate()" class="login-footer">
			No tienes cuenta? crea una aquí
		</div>
	</div>

	<div class="login" *ngSwitchCase="'signup'">
		<div style="padding: 1em;">
	    <h1>Crear una cuenta</h1>
	    <hr><br>
	    <form>
	     <div class="form-login" style="overflow: scroll;">
	       <label for="name">Nombre</label>
	       <input (input)="onChange()" [(ngModel)]="name" type="text" class="form-control" id="name" placeholder="Nombre" name="name" required>
	     </div>
	     <div class="form-login">
	       <label for="email">Apellido</label>
	       <input (input)="onChange()" [(ngModel)]="last_name" type="text" class="form-control" id="last_name" placeholder="Apellido" name="last_name" required>
	     </div>
	     <div class="form-login">
	       <label for="address">Dirección</label>
	       <input (input)="onChange()" [(ngModel)]="address" type="text" class="form-control" id="address" placeholder="Dirección" name="address" required>
	     </div>
	     <div class="form-login">
	       <label for="email">Email</label>
	       <input (input)="onChange()" [(ngModel)]="mail" type="text" class="form-control" id="email" placeholder="email" name="email" required>
	     </div>
	     <div class="form-login">
	       <label for="password">Contraseña</label>
	       <input (input)="onChange()" [(ngModel)]="password" type="password" class="form-control" id="password" placeholder="password" name="password" required>
	     </div>
	     <button (click)="submitSignUp()" [class.disabled]="!canLogin" type="button" class="form-login btn btn-login">Entrar!</button>
	    </form>
	    </div>
	    <div *ngIf="error !== '' " class="error-msg">
	    	{{error}}
	    </div>
		<div (click)="switchTemplate()" class="login-footer">
			Ya tienes cuenta? inicia sesión aquí
		</div>
	</div>
</div>
