.modal-wrapper {
	background-color: rgba(119, 114, 114, 0.6);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
}

.login-modal {
	background-color: #f1f1f1;
	top:10vw;
	/*height: 65vh;*/
	width: 40%;
	left: 30%;
	position: absolute;
	border-radius: 5px;
	color: #c8403d;
	padding-bottom: 3em;
	z-index: 1;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="modal"] {
        width: 100%;
        left: 0;
    }
    .login-modal {
    	width: 70%;
		left: 15%;
    }
}

.form-login {
	display: inline-flex;
	width: 100%;
	height: 2em;
	line-height: 2em;
	margin-bottom: 1em;
	font-size: 1.3em;
}
.btn-login {
	border: 0;
	color: #f1f1f1;
	border-radius: 3px;
	background-color: #c8403d;
	width: 50%;
	margin-left: 25%;
	text-align: center;
	display: inherit;
	cursor: pointer;
}

.btn-login.disabled
{
  pointer-events: none;
  /* for "disabled" effect */
  opacity: 0.5;
  background: #CCC;
}

.login-footer {
	width: 3em;
	line-height: 3em;
	background-color: #8f8f8f;
	bottom: 0;
	color: #f1f1f1;
	position: absolute;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	cursor: pointer;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.error-msg {
	background-color: #c8403d;
	text-align: center;
	color: white;
	height: 2em;
	line-height: 2em;
}

.close-modal {
	position: absolute;
	right: 1em;
	top: 1em;
	color: #c8403d;
	cursor: pointer;
}

.form-login input {
	flex: 5;
}

.form-login label {
	flex: 2;
}