/*.category-banner {
	background-color: #fff7b9;
	padding: 0.5em;
	font-size: 14pt;
}
*/

.btn-product {
	width: 100%;
}

.description {
	padding: 5px;
	visibility: hidden;
}
.alert{
	width: 90%;
	margin: 0 auto;
	margin-bottom: 15px;
}
.products-page-container {
	overflow: scroll;
}
.row {
	
}