/*.category-banner {
	background-color: #fff7b9;
	padding: 0.5em;
	font-size: 14pt;
}
*/

.btn-product {
	width: 100%;
}

.description {
	padding: 5px;
	visibility: hidden;
}
.alert{
	width: 90%;
	margin: 0 auto;
	margin-bottom: 15px;
}
.products-page-container {
	overflow: scroll;
}
.row {
	
}

.pagination-div-container {
    display: flex;
    justify-content: center;
    margin: 5%;
}

.pagination-button-container {
    width: 150px;
    height: 60px;
    border-radius: 5px;
	border: 2 solid black;
	background: #c8403d;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
}

.search {
	width: 100%;
	background-color: #d8d8d8;
	padding: 0em 0em 0.5em 0em;
	display: inline-flex;
}

.search input {
	width: 100%;
	font-size: 4em;
	border: none;
	background-color: #fff;
	color: #000;
	flex: 15;
}

.search button {
	flex: 1;
	background: url("/assets/search.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: white;
	border: none;
}

.search form {
	border: none;
	width: 100%;
	margin: 0;
	padding: 0;
	display: inherit;
}

.search-error {
	font-size: 2em;
	padding: 1em 0em 1em 0em;
}

.search-error p {
	font-size: 16px;
}