
<div *ngIf="isCache" class="cache-disclaimer">
	<div class="alert alert-warning">Advertencia: Los datos mostrados a continuación fueron obtenidos el {{ date }}, podrían estar desactualizados</div>
	<p></p>
</div>

	
<div class="container products-page-container">
	<div *ngIf="user" class="search">
		<form (submit)="search()">
		<input [(ngModel)]="searchstr" type="text" name="search" placeholder="Busca un producto">
		<button type="submit"></button>
		</form>
	</div>

	<div *ngIf="searcherr" class="search-error">
		{{searcherr}}
		<p>Mostrando todos los productos</p>
	</div>
    <div class="row align-items-center">
		<div *ngFor="let product of products" class="col-md-4 col-xs-12 col-ms-12">
			<div class="thumbnail" >
				<img src="" class="img-responsive">
				<div class="caption">
					<h2>{{product.name}}</h2>
					<h3>Price: {{product.price | currency: 'USD' :true  }}</h3>
					<p class="description">Description ...</p>
					<button class="btn btn-primary btn-product" (click)="addToCart(product)" ><span class="glyphicon glyphicon-shopping-cart"></span> Add to cart</button>
				</div>
			</div>
        </div> 
	</div>
</div>
