<!-- nav bar -->

<nav class="navbar navbar-inverse navbar-fixed-top">
    <a class="navbar-brand">Arquiyalt</a>
    <ul class="nav navbar-nav navbar-right">
 	    <li><a *ngIf="!isLogged" (click)="showLogin()" class="navbar-link">Login</a></li>
  	  <li><a *ngIf="isLogged" (click)="showHistory()" class="navbar-link">Order history</a></li>
  	  <li><p *ngIf="isLogged"  class="navbar-text">Signed in as {{user.mail}} </p></li>
      <li><a *ngIf="isLogged" (click)="logout()" class="navbar-link">Logout</a></li>
    </ul>
</nav>

<login *ngIf="showModalLogin" (close)="closeLogin()"></login>

<purchase-history *ngIf="visibleHistory"></purchase-history>

<div class="vertical-margin"></div>
<div class="title">
	<h1 class="display-3"> Arquiyalt </h1>
	<h1 class="subtitle"> Listado de productos disponibles </h1>
</div>

<products-page></products-page>

<div class="cartToggle" (click)="showCart()">
	<div class="cart-amount">
		{{cart.length}}
	</div>
</div>

<cart *ngIf="visibleCart"></cart>
