<!-- nav bar -->
<div class="topnav" id="myTopnav">
  <a class="title">Arquiyalt</a>
  <a *ngIf="!isLogged" (click)="showLogin()" class="right">Login</a>
  <a *ngIf="isLogged" (click)="logout()" class="right">Logout</a>
  <a *ngIf="isLogged" class="right">{{user.mail}}</a>
</div>

<login *ngIf="showModalLogin" (close)="closeLogin()"></login>

<products-page></products-page>

<div class="cartToggle" (click)="showCart()">
	<div class="cart-amount">
		{{cart.length}}
	</div>
</div>

<cart *ngIf="visibleCart"></cart>

