/* Add a black background color to the top navigation */

body {
  margin: 0px;
  font-family: helvetica;
}

div {
    font-family: helvetica;
}

.topnav {
    background-color: #c8403d;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #eee;
    color: black;
}

.topnav a.right {
  float: right;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.cartToggle {
    height: 5em;
    width: 5em;
    background-color: #2ebd62;
    border-radius: 50%;
    position: absolute;
    right: 3vw;
    bottom: 3vw;
    background-image: url("/assets/cart.png");
    background-size: 3.5em 3.5em;
    background-repeat: no-repeat;
    background-position: 0.6em 01em;
}

.cartToggle .cart-amount {
    position: absolute;
    right: 0;
    background-color: white;
    border: solid 1px #2ebd62;
    border-radius: 50%;
    width: 1em;
    text-align: center;
    padding: 0.1em;
    font-size: 12pt;
}